@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-50 dark:bg-slate-950 text-slate-900 dark:text-white antialiased transition-colors duration-300;
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .scrollbar-hide::-webkit-scrollbar {
      display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .scrollbar-hide {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
  }

  /* Custom Scrollbar */
  .custom-scrollbar::-webkit-scrollbar {
      width: 6px;
      height: 6px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
      background: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
      background-color: rgb(203 213 225); /* slate-300 */
      border-radius: 20px;
  }

  .dark .custom-scrollbar::-webkit-scrollbar-thumb {
      background-color: rgb(51 65 85); /* slate-700 */
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
      background-color: rgb(148 163 184); /* slate-400 */
  }

  .dark .custom-scrollbar::-webkit-scrollbar-thumb:hover {
      background-color: rgb(71 85 105); /* slate-600 */
  }
}
